/* font {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
} */

body {
  margin: 0%;
  padding: 0%;
}

.name {
  background: url("https://preview.ibb.co/g1ehO8/3052374_clean_wallpapers.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 10 5;
  text-align: center;
  width: 100%;
  font-size: 54px;
}

#my-name {
  font-size: 94px;
}

#divider-image {
  width: 40%;
  height: auto;
}

.portrait {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: url("https://preview.ibb.co/g1ehO8/3052374_clean_wallpapers.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 20px;
}

.about-me {
  background: url("assets/test.png");
  background-size: cover;
  text-align: center;
  padding: 30px;
}

.learning-section {
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.about {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  font-size: 350%;
  text-align: center;
  align-content: center;
}

.languages {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 35px;
  text-align: center;
  margin-top: 35px;
  -webkit-text-stroke: .8px black;
}

.knowledge {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 100px;
}

.learning-section img {
  height: 90px;
  width: 90px;
}

.learning-section img:hover {
  border: 2px solid white;
}

#description-tag {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
}

.sub {
  margin-top: 90px;
  margin-bottom: 30px;
  font-size: xx-large;
}

.planes {
  display: inline-block;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;
}

.plane-name {
  margin-top: 15px;
  text-decoration: underline;
}

.plane {
  border: 2px solid white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.plane img {
  height: 400px;
  width: 560px;
  padding-bottom: 15px;
}

#c5 {
  width: 600px;
}

#c17 {
  width: 600px;
}

.footer {
  background: #605858;
  padding: 15px;
}

.footer h2 {
  display: inline;
  color: white;
  font-size: 150%;
}

.thinker {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.email-btn {
  width: 80px;
  height: 44px;
}

.small-img {
  height: 40px;
  width: 40px;
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  .about, sub {
    font-size: 2em;
    line-height: 1.25em;
  }
}
